.vkx-clock-digital-root
  color #33567f
  text-align center
  padding .5em 0
  margin .5em

.vkx-clock-digital-root .more_div
  margin-left 0 !important
  margin-right 0 !important

.vkx-clock-digital-time
  font-size 2em