.photos_album_page .photos_row
  background-position top left !important
  transition background-position 0.5s

  &:hover
    background-position bottom right !important
    transition background-position 0.5s
