.im-mess > .vkx-message-time
    float right
    margin-right -50px
    font-size 12px
    color rgba(120, 127, 140, 0.6)
    // Fixes weird bug with new unread messages overlapping time of
    // the previous message.
    z-index 2

.im-mess:not(.im-mess_fwd) > .vkx-message-time
  margin-top 3px

// Hide the original time element.
.im-mess-stack--tools *
  display none !important
